.App {
  text-align: center;
}

::selection {
  background: rgba(180, 0, 0, 0.25); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(200,200,200,0.98);
  border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(180, 0, 0, 0.55);
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(240,0,0,0.48);
}
amplify-s3-image {
  --height: 200px;
  --width: 300px;
  object-fit: initial;
  -o-object-fit: initial;
}